*.pyc
gtdb*
nucl*
prot*
z_arx*
slurm-*.out
results/S3c_full_WY/EAF_0.05*
results/S3c_full_WY/EAF_filt*
results/S3c_full_WY/old*
results/S3c_full_WY/test_run*
results/S3c_full_WY/phylum_split*
results/S3c_full_WY/Archaea_SEREB+LHUG*
results/S3c_full_WY/SuperK*
results/S3c_full_WY/SuperK2*
results/S3c_full_WY/unlab3*
results/S3c_full_WYtest*
results/S3c_fullWY_new*
results/Actino_S3*
results/Eury_S3*
results/RP16*
results/Bathy_S3*